.page {
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100svh;
}

.card {
  --primary-font-color: white;
  --secondary-font-color: oklch(66.65% 0.04 262.4);
  --card-background: oklch(16.75% 0.011 262.4);
  --result-background: oklch(13.5% 0.011 262.4);
  --card-foreground: oklch(24.84% 0.018 262.4);
  --asset-color: oklch(41.6% 0.035 262.4);
  --accent-color: oklch(0.5731 0.2145 262.4);
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 20px;
  background-color: var(--card-background);
  border: 1px solid var(--card-foreground);
  width: 460px;
  height: fit-content;
  overflow: hidden;

  @media (max-width: 600px) {
    width: 97dvw;
  }
}

.cardHeader {
  padding: 8px 12px;
  background-color: oklch(from var(--card-foreground) calc(l - 0.025) c h / 1);
  border-bottom: 1px solid var(--card-foreground);

  h1 {
    font-size: 14px;
    font-weight: 500;
    color: oklch(from var(--secondary-font-color) l c h / 0.8);
  }
}

.cardContent {
  padding: 8px;
}

.numberInputWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  color: var(--asset-color);

  label {
    cursor: pointer;
    display: flex;
  }

  input {
    padding: 8px 12px;
    margin: 8px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    font-variant-numeric: tabular-nums;
    border-radius: 12px;
    border: none;
    background-color: var(--card-foreground);
    color: white;
    outline: none;
    border: 2px solid transparent;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    appearance: textfield;
    -moz-appearance: textfield;
    transition: background-color 0.2s ease-in-out;

    &::placeholder {
      text-align: right;
      font-size: 16px;
      font-weight: 500;
      color: var(--asset-color);
    }

    &:focus-visible {
      border: 2px solid var(--accent-color);
    }

    &[data-error="true"] {
      border: 2px solid red;
    }
  }
}

.resultWrapper {
  height: 112px;
  border: 1px solid var(--card-foreground);
  border-radius: 12px;
  padding: 8px 12px;
  background-color: var(--result-background);
}

.numericResult {
  font-family: var(--font-geist-mono);
  color: #ffffff;
  font-size: 36px;
  font-variant-numeric: tabular-nums;
  text-align: right;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 47px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;

  &[data-loading="true"] {
    opacity: 0.3;
    transform: scale(0.95);
  }
}

.ratio {
  color: var(--asset-color);
  font-variant-numeric: tabular-nums;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  display: block;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  align-self: flex-end;
  &[data-loading="true"] {
    opacity: 0.3;
    transform: scale(0.95);
  }
}

.separator {
  position: relative;
  color: var(--asset-color);
}

.separatorIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--card-foreground);
  border: 3px solid var(--card-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.SelectTrigger {
  all: unset;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  background-color: var(--card-foreground);
  color: white;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: oklch(from var(--card-foreground) calc(l + 0.1) c h / 1);
  }

  &:focus-visible {
    border: 2px solid var(--accent-color);
  }
}

.SelectIcon {
  color: white;
  width: 24px;
  height: 24px;
}

.SelectContent {
  overflow: hidden;
  width: 170px;
  border-radius: 12px;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--card-foreground);
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  z-index: 1000;
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 12px 8px 12px 8px;
  position: relative;
  user-select: none;
}

.SelectItem[data-highlighted] {
  outline: none;
  cursor: pointer;
  background-color: oklch(from var(--card-foreground) calc(l + 0.1) c h / 1);
  color: white;
}
